/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

p {
    font-size:16px;
    font-weight: 400;
    margin:0px;
}

/****** Header ***********/
header {
    display: flex;
    justify-content: space-between;
    height: 79px;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 68px;
}

.menu button {
    height: 35px;
    border-width: 2px 0 0 0;
    border-style: solid none none none;
    border-color: var(--main-bg-color) transparent transparent transparent;
    background-color: transparent;
}

.menu button:hover {
    color:var(--main-color);
    border-color: var(--main-color) transparent transparent transparent;
}

header .logo {
    padding: 30px 50px;
}

header img {
    height: 19px;
}

/****** Info-group ***********/
.Info-group {
    display:inline;
    justify-content: space-between;
}

.Info-group #Info-group-div {
    margin-bottom: 35px;
}

/****** Headline ***********/

/****** Searchbar ***********/

.Searchbar {
    height: 49px;
    display:flex;
}

#search {
    border-width: 1px 0 1px 0;
    border-style: solid none solid none;
    border-color: var(--main-bg-color) transparent var(--main-bg-color) transparent;
    text-align: top;
    text-align: center;
    height: 49px;
    padding: 0px 24px;
}

#search::placeholder {
    color:black;
    font-weight: bold;
    font-size: 18px;
}

.Searchbar #button {
    height: 49px;
    width: 132px;
    background-color:var(--main-color);
    color:white;
    font-size:18px;
    font-weight:bold;
    border-width: 1px 0 1px 0;
    border-style: solid none solid none;
    border-color: var(--main-color) transparent var(--main-color) transparent;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.Searchbar .icon {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-bg-color);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

/****** FilterBar ***********/
.FilterBar {
    display:flex;
    align-items: center;
}

.FilterBar button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: solid 2px var(--main-bg-color);
    border-radius: 25px;
    padding:4px 19px;
    font-weight: bold;
    font-size:17px;
    height:50px;
}

.FilterBar button:hover {
    background-color: var(--filter-bg-color) 
}

.FilterBar button img {
    margin-right: 10px;
}

.FilterBar p {
    font-weight: bold;
    font-size: 17px;
}

.FilterBar-Element {
    margin-right:15px;
}

/****** Infobar ***********/
.Infobar {
    display:flex;
    align-items: center;
}

.Infobar .icon {
    width: 24px;
    height: 24px;
    border:1px solid;
    border-color:var(--main-bg-color);
    border-radius:15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:10px;
}

.Infobar .icon img {
    width: 4px;
    height: 10px;
}



/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements h2 {
    margin:0px;
}

.hebergements-cards {
    display:grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-top:33px;
    margin-bottom:30px;
}

.hebergements-cards img {
    height: 100px;
    width: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom:4px;
}

.hebergements-cards .card-content {
    padding-left:15px;
}

.hebergements-cards .card-title {
    margin-top:0px;
    margin-bottom:8px;
}

.hebergements-cards .card-subtitle {
    margin-bottom:8px;
}

.hebergements-cards .card-rating {
    margin-bottom:15px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}